global:
  # -- Override the container registry globaly. Useful to use development using registry.ryax.org/dev or for airgapped env
  imageRegistry: 
  imagePullSecrets: []

  nodeSelector: {}
  # -- Leave empty to use the default storage class
  defaultStorageClass: ""

  # -- Ryax specific configuration
  ryax:
    # -- Global log level, can be overriden locally
    logLevel: warning
    # -- Namespace where user's actions are deployed
    userNamespace: "ryaxns-execs"
    # -- Where the monitoring stack goes
    monitoringNamespace: "ryaxns-monitoring"

  monitoring:
    enabled: true

  tls:
    enabled: false
    environment: "production" # development or production
    hostname: "dev-1.ryax.io" # must be a valid FQDN like "local.ryax.io", leave empty for local install
    
  # -- Needed by bitnami to avoid https://github.com/bitnami/charts/issues/30850
  security:
    allowInsecureImages: true

  # Be aware that the folowing values are shared amoung the services,
  # but they are defined as static values to avoid unnecessary configuration overhead:
  # 
  # datastoreSecret: ryax-datastore-secret
  # internalRegistry: ryax-registry:5000
  # actionRegistrySecret: ryax-registry-creds-secret
  # brokerSecret: ryax-broker-secret
  # authorizationUrl: ryax-authorization:8080
  # filestoreName: ryax-filestore
  # filestoreSecret: ryax-minio-secret
  # internalRegistry: 127.0.0.1:30012
  # jwtSecret: api-jwt-secret-key

# -- All common configuration and secrets are created here
common-resources:
  certManager:
    enabled: true

registry:
  credentials:
    enabled: true
    pullSecretName: ryax-registry-creds-secret
  ingress:
    enabled: true
    hostname: "registry-{{ .Values.global.tls.hostname }}"
  persistence:
    enabled: true
    pvcSize: 20Gi
  priorityClass: backbone

datastore:
  pvcSize: 2Gi
  priorityClass: backbone
  
front:
  enabled: true

action-builder:
  priorityClass: "microservices"
  # -- Only necessary if registry.credentials.enabled=true
  actionRegistrySecret: ryax-registry-creds-secret
  persitence:
    enabled: true
  nix:
    storeSize: 100Gi
    

runner:
  priorityClass: microservices

studio:
  priorityClass: microservices

repository:
  priorityClass: microservices

worker:
  # -- WARNING this is the worker config and the node pool resources and selector have to be set according to your infrastructure
  config:
    site:
      name: local
      type: KUBERNETES
      spec:
        namespace: "{{ .Values.global.ryax.userNamespace }}"
        nodePools:
        - name: default
          cpu: 4
          memory: 8G
          selector:
            node.kubernetes.io/instance-type: k3s
  # -- Only necessary if registry.credentials.enabled=true
  actionRegistrySecret: ryax-registry-creds-secret
  priorityClass: microservices
  promtail:
    serviceMonitor:
      enabled: true
  loki:
    monitoring:
      serviceMonitor:
        enabled: true
  postgresql:
    image:
      registry: docker.io
    metrics:
      enabled: false
      serviceMonitor:
        enabled: true
  # -- install intelliscale in a separated helm chart instead
  intelliscale:
    enabled: false
    
intelliscale:
  priorityClass: microservices

repository:
  priorityClass: microservices

minio:
  image:
    repository: bitnamilegacy/minio
  auth:
    existingSecret: ryax-minio-secret
  commonLabels:
    ryax.tech/resource-name: minio
  containerSecurityContext:
    runAsUser: 1200
  metrics:
    enabled: true
  mode: standalone
  persistence:
    enabled: true
    size: 20Gi
  podSecurityContext:
    fsGroup: 1200
  priorityClassName: backbone
  resources:
    limits:
      memory: 1000Mi
    requests:
      cpu: 100m
      memory: 1000Mi
  serviceAccount:
    create: false
  volumePermissions:
    enabled: false

rabbitmq:
  image:
    repository: bitnamilegacy/rabbitmq
  auth:
    existingErlangSecret: ryax-broker-cookie
    existingPasswordSecret: ryax-broker-secret
    # FIXME: Why is this needed ?
    updatePassword: true
    resources:
      limits:
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 500Mi
    tls:
      autoGenerated: false
      enabled: false
    username: ryaxmq
  clustering:
    enabled: false
  extraPlugins: ""
  fullnameOverride: ryax-broker
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  persistence:
    enabled: true
    size: 1Gi
    # storageClass: local-path
  plugins: rabbitmq_management
  priorityClassName: backbone
  rbac:
    create: false
  serviceAccount:
    create: false
  ulimitNofiles: ""

prometheus:
  enabled: true

tempo:
  enabled: true
