# -- This field has to be a release version.
global:
  imageRegistry: # registry.ryax.org/dev # "ryaxtech" or "registry.ryax.org/release"
  imagePullSecrets: []
  imagePullPolicy: IfNotPresent

  nodeSelector: {}
  # Leave empty to use the default storage class
  defaultStorageClass: ""

  ryax:
    logLevel: warning

  tls:
    enabled: false
    environment: "development" # development, staging, production
    hostname: "local.ryax.io" # must be a valid dns address
  # Needed by bitnami to avoid https://github.com/bitnami/charts/issues/30850
  security:
    allowInsecureImages: true

# TODO put this directly in this chart
common-resources:
  brokerCookieName: ryax-broker-cookie
  brokerName: broker
  brokerSecret: ryax-broker-secret
  brokerService: ryax-broker
  brokerUser: ryaxmq
  certManager:
    enabled: false
  environment: development
  filestoreSecret: ryax-minio-secret
  filestoreService: ryax-minio
  grafanaSecret: grafana-cedentials
  jwtSecret: api-jwt-secret-key
  monitoringNamespace: ryaxns-monitoring
  nameOverride: ryax
  userNamespace: ryaxns-execs

action-builder:
  image:
    registry: registry.ryax.org
    repository: dev/action-builder
    tag: helm-chart-globals
  internalRegistry: ryax-registry:5000
  logLevel: warning
  actionRegistrySecret: ryax-registry-creds-secret
  brokerSecret: ryax-broker-secret

authorization:
  image:
    registry: registry.ryax.org
    repository: dev/authorization
    tag: helm-with-globals
  logLevel: warning

front:
  image:
    registry: registry.ryax.org
    repository: dev/front
    tag: helm-with-globals
  enabled: true
  logLevel: warning

runner:
  image:
    registry: registry.ryax.org
    repository: dev/runner
    tag: helm-chart-globals
  authorizationUrl: ryax-authorization:8080
  brokerSecret: ryax-broker-secret
  datastoreSecret: ryax-datastore-secret
  fernetEncryptionKey: R LP2kPn8z-r9WGcckcZHkWLMVLXwKbugfbQONus6bIg==
  filestoreName: ryax-filestore
  filestoreSecret: ryax-minio-secret
  internalRegistry: 127.0.0.1:30012
  jwtSecret: api-jwt-secret-key
  logLevel: warning
  priorityClass: microservices
  ryaxUserNamespace: ryaxns-execs

studio:
  image:
    registry: registry.ryax.org
    repository: dev/studio
    tag: helm-with-globals
  authorizationUrl: ryax-authorization:8080
  brokerSecret: ryax-broker-secret
  datastoreSecret: ryax-datastore-secret
  filestoreName: ryax-filestore
  filestoreSecret: ryax-minio-secret
  jwtSecret: api-jwt-secret-key
  logLevel: warning

webui:
  image:
    registry: registry.ryax.org
    repository: dev/webui
    tag: master
  logLevel: warning

worker:
  image:
    registry: registry.ryax.org
    repository: dev/worker
    tag: helm-chart-globals
  actionRegistrySecret: ryax-registry-creds-secret
  brokerSecret: ryax-broker-secret
  config:
    site:
      name: local
      spec:
        namespace: ryaxns-execs
        nodePools:
        - cpu: 4
          memory: 8G
          name: default
          selector:
            node.kubernetes.io/instance-type: k3s
      type: KUBERNETES
  filestoreName: ryax-filestore
  filestoreSecret: ryax-minio-secret
  logLevel: warning
  loki:
    monitoring:
      serviceMonitor:
        additionalLabels:
          app: prometheus-operator
          release: prometheus
        enabled: false
    singleBinary:
      persistence:
        size: 10Gi
        storageClass: local-path
  postgresql:
    auth:
      password: InsecurePassw0rd!
  priorityClass: microservices
  promtail:
    serviceMonitor:
      additionalLabels:
        app: prometheus-operator
        release: prometheus
      enabled: false
  intelliscale:
    enabled: false
    
intelliscale:
  image:
    registry: registry.ryax.org
    repository: dev/intelliscale
    tag: helm-chart-globals
  enabled: true
  priorityClass: microservices
  ryax:
    worker:
      configMapName: ryax-worker-config
      serviceName: ryax-worker
  config:
    MIG:
      enabled: false

repository:
  image:
    registry: registry.ryax.org
    repository: dev/repository
    tag: helm-with-globals
  authorizationUrl: ryax-authorization:8080
  brokerSecret: ryax-broker-secret
  datastoreSecret: ryax-datastore-secret
  environment: development
  fernetEncryptionKey: RtsPJX7WrANzevwwnhFJ-3YxwfSicrLzEEmRnXC9cXA==
  jwtSecret: api-jwt-secret-key
  logLevel: warning
  passwordEncryptionKeySecret: ryax-repository-password-encryption-key

datastore:
  datastoreSecret: ryax-datastore-secret
  pvcSize: 2Gi
  monitoring:
    enabled: false

minio:
  image:
    repository: bitnamilegacy/minio
  auth:
    existingSecret: ryax-minio-secret
  commonLabels:
    ryax.tech/resource-name: minio
  containerSecurityContext:
    runAsUser: 1200
  metrics:
    enabled: false
  mode: standalone
  persistence:
    enabled: true
    size: 20Gi
  podSecurityContext:
    fsGroup: 1200
  priorityClassName: backbone
  resources:
    limits:
      memory: 1000Mi
    requests:
      cpu: 100m
      memory: 1000Mi
  serviceAccount:
    create: false
  volumePermissions:
    enabled: false

rabbitmq:
  image:
    repository: bitnamilegacy/rabbitmq
  auth:
    existingErlangSecret: ryax-broker-cookie
    existingPasswordSecret: ryax-broker-secret
    resources:
      limits:
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 500Mi
    tls:
      autoGenerated: false
      enabled: false
    username: ryaxmq
  clustering:
    enabled: false
  extraPlugins: ""
  fullnameOverride: ryax-broker
  metrics:
    enabled: false
    serviceMonitor:
      enabled: true
      namespace: ryaxns-monitoring
  persistence:
    enabled: true
    size: 1Gi
    storageClass: local-path
  plugins: rabbitmq_management
  priorityClassName: backbone
  rbac:
    create: false
  serviceAccount:
    create: false
  ulimitNofiles: ""

registry:
  credentials:
    enabled: true
    htpasswd: 'ryax:$2a$12$L4zHsMG0d6UMcmum.egJ.OOP.UBP8pp9dntDWXIdsdST0X5x35wVy'
    injectInNamespaces:
    - ryaxns-execs
    - ryaxns
    password: 'Ro93Wetj44yXAY9Rk-lWlklo0akQIYzp_Eg-UN721zA=='
    username: ryax
  ingress:
    enabled: false
  monitoring:
    enabled: false
  nodePort: 30012
  persistence:
    enabled: true
    pvcSize: 20Gi

prometheus:
  enabled: false

tempo:
  enabled: false
