stages:
  - deploy
  
pages:
  image: python:3.13
  tags: [docker]
  stage: deploy
  script:
    - pip install uv
    - cd docs
    - uv run mkdocs build --site-dir ../public
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - ~/.cache/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
