[submodule "ryaxpkgs"]
	path = ryaxpkgs
	url = ../ryaxpkgs.git
[submodule "cli"]
	path = cli
	url = git@gitlab.com:ryax-tech/ryax/ryax-cli.git
[submodule "workflows"]
	path = workflows
	url = ../workflows.git
[submodule "adm"]
	path = adm
	url = ../adm.git
[submodule "ci_common"]
	path = ci_common
	url = ../ci_common.git
[submodule "internal_services"]
	path = internal_services
	url = ../internal_services.git
[submodule "module_builder"]
	path = module_builder
	url = ../module_builder
[submodule "repository"]
	path = repository
	url = ../repository
[submodule "studio"]
	path = studio
	url = ../studio
[submodule "webui"]
	path = webui
	url = ../../ryax-webui
[submodule "sdk/ryax-python-sdk"]
	path = sdk/ryax-python-sdk
	url = ../../ryax-sdk/ryax-python-sdk
[submodule "default-modules"]
	path = default-modules
	url = ../../../workflows/default-modules.git
[submodule "authorization"]
	path = authorization
	url = ./authorization.git
[submodule "errored-modules"]
	path = errored-modules
	url = ../../errored-modules.git
[submodule "templates/template"]
	path = templates/template
	url = ./templates/template.git
[submodule "ryax-public-doc"]
	path = ryax-public-doc
	url = ../../ryax-public-doc.git
[submodule "business-user-webui"]
	path = business-user-webui
	url = ../../business-user-webui.git
[submodule "module_wrappers"]
	path = module_wrappers
	url = ../module_wrappers.git
[submodule "runner"]
	path = runner
	url = ../runner.git
