# -- This field has to be a release version.
global:
  imagePullPolicy: IfNotPresent
  defaultStorageClass: local-path
  tls:
    enabled: false

worker:
  config:
    site:
      name: local
      spec:
        namespace: ryaxns-execs
        nodePools:
        - cpu: 4
          memory: 8G
          name: default
          selector:
            node.kubernetes.io/instance-type: k3s
      type: KUBERNETES
  loki:
    singleBinary:
      persistence:
        size: 10Gi
        storageClass: local-path
  postgresql:
    auth:
      # WARNING: Change this!
      password: InsecurePassw0rd!
  intelliscale:
    enabled: false
    
repository:
  # WARNING: Change this!
  fernetEncryptionKey: RtsPJX7WrANzevwwnhFJ-3YxwfSicrLzEEmRnXC9cXA==

datastore:
  monitoring:
    enabled: false
  # WARNING: Change this!
  datastoreSecret: ryax-datastore-secret

minio:
  metrics:
    enabled: false
  persistence:
    size: 20Gi
    storageClass: local-path

rabbitmq:
  auth:
    existingErlangSecret: ryax-broker-cookie
    existingPasswordSecret: ryax-broker-secret
  # WARNING: Change this!
    password: InsecurePassw0rd!
    resources:
      limits:
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 500Mi
    tls:
      autoGenerated: false
      enabled: false
    username: ryaxmq
  metrics:
    enabled: false
  persistence:
    enabled: true
    size: 1Gi
    storageClass: local-path

prometheus:
  enabled: false

tempo:
  enabled: false

traefik:
  enabled: false
