# -- This field has to be a release version.
global:
  imageRegistry: # "ryaxtech" or "registry.ryax.org/release"
  imagePullSecrets:
  imagePullPolicy: IfNotPresent

  nodeSelector: {}
  # Leave empty to use the default storage class
  # defaultStorageClass: ""
  defaultStorageClass: local-path

  tls:
    enabled: false

worker:
  config:
    site:
      name: local
      spec:
        namespace: ryaxns-execs
        nodePools:
        - cpu: 4
          memory: 8G
          name: default
          selector:
            node.kubernetes.io/instance-type: k3s
      type: KUBERNETES
  loki:
    monitoring:
      serviceMonitor:
        additionalLabels:
          app: prometheus-operator
          release: prometheus
        enabled: false
    singleBinary:
      persistence:
        size: 10Gi
        storageClass: local-path
  postgresql:
    auth:
      password: InsecurePassw0rd!
  promtail:
    serviceMonitor:
      additionalLabels:
        app: prometheus-operator
        release: prometheus
      enabled: false
  vpa:
    enabled: false
    monitoring:
      enabled: false

repository:
  logLevel: warning

datastore:
  monitoring:
    enabled: false
  pvcSize: 2Gi

minio:
  metrics:
    enabled: false
  persistence:
    size: 20Gi
    storageClass: local-path

rabbitmq:
  auth:
    existingErlangSecret: ryax-broker-cookie
    existingPasswordSecret: ryax-broker-secret
    password: InsecurePassw0rd!
    resources:
      limits:
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 500Mi
    tls:
      autoGenerated: false
      enabled: false
    username: ryaxmq
  metrics:
    enabled: false
  persistence:
    enabled: true
    size: 1Gi
    storageClass: local-path

prometheus:
  enabled: false

tempo:
  enabled: false

traefik:
  enabled: false
